---
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro'
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro'
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro'

import Copyright from '~/components/Copyright.astro'
import { getSidebarConfig } from '~/utils/getSidebarConfig'

const slug = Astro.params.slug || 'index'
const sidebar = await getSidebarConfig(slug, Astro.url, Astro.currentLocale || 'root')
---

<div class="sidebar-wrapper">

	<SidebarPersister>
		<SidebarSublist sublist={sidebar} />
	</SidebarPersister>

	<div class="md:sl-hidden">
		<MobileMenuFooter />
	</div>

	<div class="md:mt-4">
		<Copyright shortText={true} />
	</div>

</div>

<style>
.sidebar-wrapper {
	display: contents;
}
</style>
