---
import { Icon } from '@astrojs/starlight/components'

// const { shortText } = Astro.props
---

<div class="copyright-notice">
	<ul>
		<li class="kudos">
			<Icon name={'starlight'} />
			<span>
				Built with
				<a href="https://starlight.astro.build/" target="_blank">
					Starlight
				</a>
			</span>
		</li>
	</ul>
</div>

<style>
.copyright-notice {
	font-size: var(--sl-text-sm);
	color: var(--sl-color-gray-3);

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: var(--sl-color-gray-2);
			text-decoration: none;
		}
	}

	ul {
		align-items: center;
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
		}
	}

	.icon {
		vertical-align: -0.125em;
	}

	&::before {
		/* Horizontal line */
		content: ' ';
		display: block;
		background-color: var(--sl-color-gray-5);
		width: calc(100% - 2rem);
		height: 1px;
		margin-bottom: 1rem;
		margin-left: 1rem;
	}
}

:global(:root[data-theme='light']) .copyright-notice {
	color: var(--sl-color-gray-4);

	a:hover {
		color: var(--sl-color-gray-3);
	}

	&::before {
		background-color: var(--sl-color-gray-6);
	}
}

.kudos {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

@layer starlight.components {
	.kudos :global(svg) {
		color: var(--sl-color-orange);
	}
}
</style>
